
*{
	box-sizing: border-box;
	padding:0px;
	margin:0px;
}
body{
	font-family:Arial, Tahoma, sans-serif;
}
.start-game{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgb(40 110 147 / 90%);
}
.start-game span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #f44336;
    color: #fff;
    padding: 15px 25px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;	
}
.winner-game{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgb(17 18 18 / 90%);
}
.winner-game span{
	font-size:30px;
	color:white;
}
.info-container{
    width: 1080px;
    margin: 20px auto 0;
    background-color: #f6f6f6;
    padding: 20px;
    font-size: 20px;
    overflow: hidden;
    border: 2px solid #2196f3;
    display: flex;
    justify-content: space-between;
}
.memory-game-blocks{
	width: 1100px;
	display:flex;
	flex-wrap:wrap;
	margin:20px auto;
}
.memory-game-blocks.no-clicking{
	pointer-events: none;
}
.memory-game-blocks .game-block{
    height: 200px;
    transition: transform .5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    flex: 1 0 200px;
    margin: 0 10px 20px;
}
.memory-game-blocks .game-block .front{
    background-color: #333;
    line-height: 200px;	
}
.memory-game-blocks .game-block .front::before{
    content: "?";
    font-size: 160px;
    color: white;
    font-weight: bold;
    font-style: italic;
}
.memory-game-blocks .game-block .back{
    background-color: #607D88;
	transform:rotateY(180deg);
}
.memory-game-blocks .game-block .back img{
    width: 100%;
}
.memory-game-blocks .game-block .face{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
	backface-visibility:hidden;
	border: 5px solid #2196f3;
}
.memory-game-blocks .has-match,
.memory-game-blocks .is-flipped{
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	transform:rotateY(180deg);
	pointer-events: none;
}




























